#lista de dependencias

# Servicio web
fastapi
uvicorn[standard]
pydantic
python-multipart
python-dotenv
tqdm
requests

# PDF / Imágenes / OCR
pypdf
pdfminer.six
pillow
opencv-python
pytesseract
beautifulsoup4

# Machine Learning
numpy
pandas
scikit-learn>=1.4
joblib
kaggle
